#heading {
    background-image: url(heading.jpg); /* Replace with your heading image */
    width: 1500px;
    height: 100px;
    text-align: center;
    line-height: 100px;
}

#cake-image {
    margin: 5px;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

h2 {
    color: #FFD700; /* Gold */
}

#ingredients {
    font-size: 20px;
    text-align: center;
    background-image: url(pinkbake.jpg); /* Replace with your background image */
    height: 600px;
    width: 500px;
    margin: auto;
    border-radius: 20%;
}

#instructions {
    font-size: 20px;
    text-align: center;
    background-image: url(pinkbake.jpg); /* Replace with your background image */
    height: 600px;
    width: 700px;
    margin: auto;
    border-radius: 20%;
}

#enjoy-message {
    color: #FFD700; /* Gold */
    text-align: center;
}
