#heading {
    background-image: url(heading.jpg); /* Replace with your heading image */
    width: 100%;
    height: 150px;
    text-align: center;
    line-height: 150px;
}

#cake-image {
    margin: 20px auto;
    display: block;
}

h2 {
    color: #8B4513; /* SaddleBrown */
}

#ingredients, #instructions, #assembly {
    font-size: 18px;
    text-align: left;
    background-image: url(pinkbake.jpg); 
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    max-width: 800px;
}

#enjoy-message {
    font-size: 20px;
    color: #CD5C5C; /* IndianRed */
    text-align: center;
    margin-top: 30px;
}
